.item-add-form {
  margin-top: 10px;
}

.item-add-form input {
  margin-right: 3px;
  background: floralwhite;
  padding-left: 20px;
  color: darkgreen;
}

.btn-add {
  color: grey;
  border: 1px solid gray;
  background: lightgray;
}