.search-input {
    width: auto;
    flex-grow: 1;
    margin-right: 3px;
    background-color: floralwhite;
}

.form-control:focus {
    border-color: green;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px green, 0 0 4px darkgreen;
    box-shadow: inset 0 1px 1px green, 0 0 4px darkgreen;
}