.shopping-list .list-group-item {
    padding: 0.5rem 0.5rem 0.5rem 0;   /* Единица rem задаёт размер относительно размера шрифта элемента <html>
                                          Первое значение padding устанавливает поля от верхнего и нижнего края, второе — от левого и правого. */
    background-color: floralwhite;
    overflow: hidden;   /* crop text if it goes out of scope */
}